{% extends 'base.html' %} {% block content %}
<div class="row">
  <div class="container">
    <div class="jumbotron text-center home-hero">
      <h1>What is Happening?</h1>
      <h4>New to Warbler?</h4>
      <p>Sign up now to get your own personalized timeline!</p>
      <a href="/signup" class="btn btn-primary">Sign up</a>
    </div>
  </div>

  <div class="container text-center col-md-8 my-5">
    <h2>What is Warbler?</h2>
    <p class="lead">
      Warbler is a Twitter clone, named after
      <a href="https://en.wikipedia.org/wiki/New_World_warbler"
        >a colorful bird</a
      >. I started this project during
      <a href="https://www.rithmschool.com/">Rithm School</a> Full-Stack Web
      Developer boot camp, which I graduated from August 2020.
    </p>
    <p class="lead">
      The code is available on my
      <a href="https://github.com/vanvemden/warbler">GitHub project page</a>.
      The app is made with Python, HTML, CSS, Flask, Bcrypt, SQLAlchemy,
      WTForms, Jinja, and a few lines of JavaScript.
    </p>
    <p class="lead">
      Regards, <br />
      Marco van Vemden
    </p>
    <p>
      Site:&nbsp;<a href="https://marcovanvemden.com">marcovanvemden.com</a> |
      GitHub:&nbsp;<a href="https://github.com/vanvemden">vanvemden</a> |
      LinkedIn:&nbsp;<a href="https://www.linkedin.com/in/marcovanvemden/"
        >marcovanvemden</a
      >
    </p>
    <hr class="my-5" />
    <h3>Added or Updated Features:</h3>
  </div>

  <div class="container">
    <h4 class="text-center mb-4">- changed bootstrap theme -</h4>
    <div class="row">
      <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
        <div class="card user-card">
          <div>
            <div class="image-wrapper">
              <img
                src="/static/images/warbler-hero.jpg"
                alt=""
                class="card-hero"
              />
            </div>
            <a href="/users/301" class="card-link" onclick="return false;">
              <img
                src="/static/images/marco-profile.png"
                alt="Image for Marco"
                class="card-image"
              />
              <p>@Marco</p>
            </a>
            <ul class="user-stats nav nav-pills">
              <li class="stat">
                <p class="small">Messages</p>
                <h4>
                  <a href="/users/301" onclick="return false;">3678</a>
                </h4>
              </li>
              <li class="stat">
                <p class="small">Following</p>
                <h4>
                  <a href="/users/301/following" onclick="return false;">312</a>
                </h4>
              </li>
              <li class="stat">
                <p class="small">Followers</p>
                <h4>
                  <a href="/users/301/followers" onclick="return false;"
                    >128K</a
                  >
                </h4>
              </li>
            </ul>
          </div>
        </div>
      </aside>

      <div class="col-lg-8 col-md-8 col-sm-12">
        <ul class="list-group" id="messages">
          <li class="list-group-item">
            <a href="/messages/940" class="message-link"> </a
            ><a href="/users/19" onclick="return false;">
              <img
                src="https://randomuser.me/api/portraits/men/48.jpg"
                alt="user image"
                class="timeline-image"
              />
            </a>

            <div class="message-area">
              <a href="/users/19" onclick="return false;">@ashley13</a>
              <span class="text-muted">10 June 2018</span>
              <p>
                Week technology with student something conference. Mouth
                material impact skill among. Decade fund voice before ability.
                Adult reality yet wa
              </p>
            </div>

            <form
              method="POST"
              action="/messages/940/like"
              class="messages-like"
            >
              <button id="940" class="btn btn-sm btn-secondary">
                <i class="fa fa-thumbs-up"></i>
              </button>
            </form>
          </li>

          <li class="list-group-item">
            <a href="/messages/949" class="message-link"> </a
            ><a href="/users/23" onclick="return false;">
              <img
                src="https://randomuser.me/api/portraits/men/90.jpg"
                alt="user image"
                class="timeline-image"
              />
            </a>

            <div class="message-area">
              <a href="/users/23" onclick="return false;">@liulauren</a>
              <span class="text-muted">06 May 2018</span>
              <p>
                Budget study animal ready someone sometimes. Affect travel
                former only maybe religious. Position skill catch and.
              </p>
            </div>

            <form
              method="POST"
              action="/messages/949/like"
              class="messages-like"
            >
              <button id="949" class="btn btn-sm btn-primary">
                <i class="fa fa-thumbs-up"></i>
              </button>
            </form>
          </li>

          <li class="list-group-item">
            <a href="/messages/76" class="message-link"> </a
            ><a href="/users/23" onclick="return false;">
              <img
                src="https://randomuser.me/api/portraits/men/90.jpg"
                alt="user image"
                class="timeline-image"
              />
            </a>

            <div class="message-area">
              <a href="/users/23" onclick="return false;">@liulauren</a>
              <span class="text-muted">04 April 2018</span>
              <p>
                Kitchen she whom bed respond without. Apply garden animal keep.
                Pattern could approach draw success public.
              </p>
            </div>

            <form
              method="POST"
              action="/messages/76/like"
              class="messages-like"
            >
              <button id="76" class="btn btn-sm btn-primary">
                <i class="fa fa-thumbs-up"></i>
              </button>
            </form>
          </li>

          <li class="list-group-item">
            <a href="/messages/700" class="message-link"> </a
            ><a href="/users/18" onclick="return false;">
              <img
                src="https://randomuser.me/api/portraits/women/34.jpg"
                alt="user image"
                class="timeline-image"
              />
            </a>

            <div class="message-area">
              <a href="/users/18" onclick="return false;">@zwilkins</a>
              <span class="text-muted">06 March 2018</span>
              <p>
                Every among world own kid follow. Our long bag sea push.
              </p>
            </div>

            <form
              method="POST"
              action="/messages/700/like"
              class="messages-like"
            >
              <button id="700" class="btn btn-sm btn-secondary">
                <i class="fa fa-thumbs-up"></i>
              </button>
            </form>
          </li>

          <li class="list-group-item">
            <a href="/messages/730" class="message-link"> </a
            ><a href="/users/18" onclick="return false;">
              <img
                src="https://randomuser.me/api/portraits/women/34.jpg"
                alt="user image"
                class="timeline-image"
              />
            </a>

            <div class="message-area">
              <a href="/users/18" onclick="return false;">@zwilkins</a>
              <span class="text-muted">30 January 2018</span>
              <p>Figure seat account evening. Receive he report health.</p>
            </div>

            <form
              method="POST"
              action="/messages/730/like"
              class="messages-like"
            >
              <button id="730" class="btn btn-sm btn-secondary">
                <i class="fa fa-thumbs-up"></i>
              </button>
            </form>
          </li>
        </ul>
      </div>
      <div class="modal" id="message-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <form method="POST">
                <input
                  id="csrf_token"
                  name="csrf_token"
                  type="hidden"
                  value="IjI2YTEwNjAyN2Q2YTRkNTNlNWMwMDAxNzM2N2E3MDQ0YmM0MjdmYTYi.XziLzw.bxR3-mQGMETqm287qgHc-IyXgSg"
                />
                <div>
                  <textarea
                    class="form-control"
                    id="text"
                    name="text"
                    placeholder="What's happening?"
                    required=""
                    rows="3"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <input
                type="submit"
                id="message-submit"
                value="Add my message!"
                class="btn btn-outline-success btn-block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
