{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-12">
        <h2 class="join-message">Change Password!</h2>
        <form method="POST" id="user_form">
            {{ form.hidden_tag() }}

            {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
            {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
            {% endfor %}
            {{ field(placeholder=field.label.text, class="form-control") }}
            {% endfor %}

            <p>To change your password enter current password:</p>
            {% if form.password.errors %}
            {% for error in form.password.errors %}
            <span class="text-danger">
                {{ error }}
            </span>
            {% endfor %}
            {% endif %}
            {{ form.password(placeholder="Enter current password to confirm", class="form-control") }}

            <div class="edit-btn-area">
                <input type="submit" value="Change Password!"class="btn btn-outline-danger">
                <a href="/users/profile" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% endblock %}